RESOURCE_GROUP=rg-application1
LOCATION=uksouth
ACR_NAME=acrancampyrprod
CONTAINER_APP_ENV=cae-anc-prod
CONTAINER_APP_NAME=ca-om-tracker-prod
SQL_SERVER_NAME=clearsol-om-tracker-prod-sql
SQL_DATABASE_NAME=om-tracker
SQL_ADMIN_LOGIN=omadmin
NOTION_SITES_DATABASE_ID=7dc7ccc45c5a43d7a75b2e97818089dc
NOTION_BILLING_DATABASE_ID=39212e37c38b4c79b1cd8e54c976f7ea
NOTION_SUMMARY_PAGE_ID=f2b68e46501a49c89c035c7198b64004
